<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ruby Session Exercise</title>
</head>
<body>
	<h1>Login</h1>
	
	<form action="." method="post">
		<div>
			Username: <input type="text" name="username" />
		</div>
		
		<div>
			Password: <input type="text" name="password" />
		</div>
		
		<div>
			<input type="submit" value="Login" />
		</div>
	</form>
</body>
</html>
